{% extends "account/base.html" %}

{% load i18n %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block head_title %}{% trans "Sign up for IFF" %}{% endblock %}

{% block inner %}
<div class="container">
<h1>{% trans "Create Account" %}</h1>

<p>{% blocktrans %}Already have an account? Please <a href="{{ login_url }}">come on in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% form form=form %}
    <div class="row">
      <div class="input-field col s12">
        <input id="email" name="email" type="email" class="validate" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" name="username" class="validate" required>
        <label for="username">Username</label>
        <span class="helper-text" data-error="Your username is invalid" data-success="That works!">Your username will be your login</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password_input_1" name="password_input_1" type="password" class="validate" required>
        <label for="password_input_1">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password_input_2" name="password_input_2" type="password" class="validate" required>
        <label for="password_input_2">Password (again)</label>
      </div>
    </div>
  {% endform %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="row">
    <div class="checkbox-field col s12" id="agree_container">
        <label>
        <input class="filled-in " id="id_agree" name="agree" type="checkbox" required><span for="id_remember">By checking this I agree to give up my firstborn to IFF*</span></label>
    </div>
  </div>
    <p>*<sup>Just kidding. We promise not to share your passwords, etc.</sup></p>
  <button class="primaryAction btn btn-primary" id="register_bt" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}

