{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
<div class="container">
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}A verification e-mail is making its way to you through the magic of the interwebs. Follow the link provided to finalize the signup process. If you don't receive it in a few minutes, it may have been swallowed by the upside-down. Sorry (please try again).{% endblocktrans %}</p>
</div>
{% endblock %}

