{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.username }}'s IFFlists {% endblock %}

<!-- this is where all the ifflist vues will go -->

{% block content %}
  <div class="row">
    <div class="col l4 s6">
      <div class="iff-cont">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Active IFFlists<sup>*</sup></h4> *come up with a better name!</li>
            <li class="collection-item">I get to play Xbox IFF...</li>
            <li class="collection-item">I get to go to the park IFF...</li>
        </ul>
        <ul class="collection with-header fade">
            <li class="collection-header"><h4>Past IFFlists</h4></li>
            <li class="collection-item">I got to read a new book</li>
            <li class="collection-item">I got to go surfing</li>
            <li class="collection-item">I got to buy a new dress</li>
            <li class="collection-item">I got to take the kids to Disneyland</li>
            <li class="collection-item">I got to go on a fancy date</li>
            <li class="collection-item">I got to go to the bar</li>
        </ul>
      </div>
    </div>
    <div class="col l8 s6">
      <h2>Detail view of active IFFlist* items will go here.</h2>
      <p>*(seriously, think of a better name)</p>
    </div>
  </div>

{% endblock content %}

