{% extends "base.html" %}
{% load static %}
{% load material_form %}

{% block title %}{{ user.username }}'s ifflists {% endblock %}

<!-- this is where all the ifflist vues will go -->

{% block content %}
{% if object == request.user %}
<!-- This is where Vue.js will do its magic! -->
<div id="app">
  <div class="row">
    <div class="loading" v-if="loading===true">
      <div class="preloader-background">
        <div class="center-align preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- list of ifflists -->
    <div class="col l4 s12 hide-on-med-and-down"> <!-- not visible on mobile -->
      <div class="iff-cont">
        <ul class="collection with-header dark-collection">
          <li class="collection-header"><h5>Add new ifflist <a
            class="btn-floating btn-large waves-effect grey darken-2 add-btn"><i class="material-icons">add</i></a></h5>
          </li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header"><h5>Active ifflists</h5></li>
          <a v-for="ifflist in ifflists_current" class="collection-item" v-on:click="getIfflist(ifflist.id)">I get to
            ${ifflist.get_to_do}$ IFF...</a>
        </ul>
        <ul class="collection with-header fade">
          <li class="collection-header"><h5>Completed ifflists</h5></li>
          <a v-for="ifflist in ifflists_completed" class="collection-item" v-on:click="getIfflist(ifflist.id)">I got to
            ${ifflist.get_to_do}$</a>
        </ul>
      </div>
    </div>
    <!-- current/add ifflist -->
    <div class="col l8 s12">
      <div class="iff-list-cont">
        <ul class="collection with-header">
          <h2 class="center-align"><span class="iff">I get to:</span></h2>
          <li class="collection-item">
            <label class="inline-collection">
              <input type="checkbox" class="filled-in inline-collection todo-check"/>
              <span></span>
            </label>
            <h5 class="todo-item inline-collection">${displayedIfflist.get_to_do}$</h5>
            <a class="delete_bt"><i class="material-icons">delete_forever</i></a>
            <a class="edit_bt"><i class="material-icons">edit</i></a>
          </li>
          <h2 class="center-align"><span class="iff">if and only if I:</span></h2>

          <li v-for="todo in displayedTodos" class="collection-item">
            <label class="inline-collection">
              <input type="checkbox" class="filled-in inline-collection"/>
              <span></span>
            </label>
            <h5 class="light-text inline-collection">${todo.text}$</h5>
            <a class="delete_bt"><i class="material-icons">delete_forever</i></a>
            <a class="edit_bt"><i class="material-icons">edit</i></a>
          </li>
          <li class="collection-item add_todo_field hidden">
            <div class="row">
              <div class="col s11">
                <input type="text" name="new_todo_item" id="new_todo_item"
                       class="todo-input inline-collection input-field inline"/>
                <label for="new_todo_item"></label>
              </div>
              <div class="col s1">
                <a class="save_bt" v-on:click="addTodo"><i class="material-icons">save</i></a>
              </div>
            </div>
          </li>
        </ul>
        <div class="center-align">
          <a v-on:click="showAdd" class="btn-floating btn-large waves-effect waves-circle white add-todo"><i
            class="material-icons main-text-color">add</i></a>
        </div>
      </div>
    </div>
    <!-- mobile list of ifflists -->
    <div class="col l4 s12 hide-on-med-and-up"> <!-- not visible on large screens -->
      <div class="space-50"></div>
      <ul class="collection with-header dark-collection">
        <li class="collection-header"><h5>Add new ifflist <a
          class="btn-floating btn-large waves-effect grey darken-2 add-btn"><i class="material-icons">add</i></a></h5>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header"><h5>Active ifflists</h5></li>
        <a v-for="ifflist in ifflists_current" class="collection-item" v-on:click="getIfflist(ifflist.id)">I get to
          ${ifflist.get_to_do}$ IFF...</a>
      </ul>
      <ul class="collection with-header fade">
        <li class="collection-header"><h5>Completed ifflists</h5></li>
        <a v-for="ifflist in ifflists_completed" class="collection-item" v-on:click="getIfflist(ifflist.id)">I got to
          ${ifflist.get_to_do}$</a>
      </ul>
    </div>
  </div>
</div>
{% else %}

<div class="container">
  <h4>Sorry, you can only see your own IFFlists (for now).</h4>
  <a class="btn btn-primary btn-waves" href="{% url 'users:detail' request.user.username  %}">Take me to my lists!</a>
</div>
{% endif %}

<script src="{% static 'js/vuejs.js' %}"></script>

{% endblock content %}

<!--<ul class="collection with-header dark-collection">-->
<!--<li class="collection-header">-->
<!--<h2 class="title-word">{{user_latest_ifflist.get_to_do}} <a class="btn-floating btn-large waves-effect grey darken-2 add-btn"><i class="material-icons">edit</i></a></h2>-->
<!--</li>-->
<!--</ul>-->
