{% extends "base.html" %}
{% load static %}
{% load material_form %}

{% block title %}{{ user.username }}'s ifflists {% endblock %}

<!-- this is where all the ifflist vues will go -->

{% block content %}
{% if object == request.user %}
  <!-- This is where Vue.js will do its magic! -->
  <div id="app">
  <div class="row">
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
    <!-- list of ifflists -->
    <div class="col l4 s12 hide-on-med-and-down"> <!-- not visible on mobile -->
      <div class="iff-cont">
        <ul class="collection with-header dark-collection">
          <li class="collection-header"><h5>Add new ifflist <a class="btn-floating btn-large waves-effect grey darken-2 add-btn"><i class="material-icons">add</i></a></h5></li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header"><h5>Active ifflists</h5></li>
          <div v-for="ifflist in ifflists_current">
            <a class="collection-item" v-on:click="getIfflist(ifflist.id)">I get to ${ifflist.get_to_do}$ IFF...</a>
          </div>
        </ul>
        <ul class="collection with-header fade">
          <li class="collection-header"><h5>Completed ifflists</h5></li>
          <div v-for="ifflist in ifflists_completed">
            <a class="collection-item" v-on:click="getIfflist(ifflist.id)>I got to ${ifflist.get_to_do}$</a>
          </div>
        </ul>
      </div>
    </div>
    <!-- current/add ifflist -->
    <div class="col l8 s12">
      <div class="iff-list-cont">
        <ul class="collection with-header">
          <h2 class="center-align"><span class="iff">I get to:</span></h2>
          <li class="collection-item">
            <label class="inline-collection">
              <input type="checkbox" class="filled-in inline-collection" />
              <span></span>
            </label>
            <h5 class="inline-collection" contenteditable="true">{{user_latest_ifflist.get_to_do}}</h5>
          </li>
          <h2 class="center-align"><span class="iff">if and only if I:</span></h2>
          {% for todo in user_latest_todos %}
          <li class="collection-item">
            <label class="inline-collection">
              <input type="checkbox" class="filled-in inline-collection" />
              <span></span>
            </label>
            <h5 class="light-text inline-collection" contenteditable="true">{{todo}}</h5>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- mobile list of ifflists -->
    <div class="col l4 s12 hide-on-med-and-up"> <!-- not visible on large screens -->
      <div class="space-50"></div>
        <ul class="collection with-header dark-collection">
          <li class="collection-header"><h5>Add new ifflist <a class="btn-floating btn-large waves-effect grey darken-2 add-btn"><i class="material-icons">add</i></a></h5></li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header"><h5>Active ifflists</h5></li>
          {% for item in user_ifflists_current %}
          <a class="collection-item">I get to {{item}} IFF...</a>
          {% endfor %}
        </ul>
        <ul class="collection with-header fade">
          <li class="collection-header"><h5>Completed ifflists</h5></li>
          {% for item in user_ifflists_completed %}
          <a class="collection-item">I got to {{item}}</a>
          {% endfor %}
        </ul>
      </div>
  </div>
  </div>
{% else %}

<div class="container">
  <h4>Sorry, you can only see your own IFFlists (for now).</h4>
  <a class="btn btn-primary btn-waves" href="{% url 'users:detail' request.user.username  %}">Take me to my lists!</a>
</div>
{% endif %}

<script src="{% static 'js/vuejs.js' %}"> </script>

{% endblock content %}

<!--<ul class="collection with-header dark-collection">-->
  <!--<li class="collection-header">-->
    <!--<h2 class="title-word">{{user_latest_ifflist.get_to_do}} <a class="btn-floating btn-large waves-effect grey darken-2 add-btn"><i class="material-icons">edit</i></a></h2>-->
  <!--</li>-->
<!--</ul>-->
