{% extends "base.html" %}
{% load crispy_forms_tags %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block title %}Update your IFF profile{% endblock %}

{% block content %}
<div class="container">
  <h1>Update {{ user.username }}'s profile</h1>
  <p>Your profile information is just for you (for now). Use it to stay focused on your main goals.</p>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% form form=form %}
      {{ form|crispy }}
    {% endform %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
