{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>About IFF</h1>
  <p>IFF is an online "get to do" list rather than a to-do list. You get to do a thing <strong><em>if and only if</em></strong> you complete the task or tasks you need to do.</p>
  <p>Traditional to-do lists are typically comprised of unpleasant tasks or chores that need to be done, with no system of rewards. <a href="http://opim.wharton.upenn.edu/~kmilkman/2013_Mgmt_Sci.pdf" target="_blank">Studies</a> have shown that temptation bundling, or coupling an unpleasant task with a reward, is a more effective way to get things done. IFF allows users to combine pleasant and unpleasant tasks, and use social accountability as a motivating tool.</p>
  <p>The IFF app allows users to create an account, in which they will be able to store multiple "get-to-do" lists. Each list will have one get-to-do task and one or more to-do tasks. As the to-do tasks are checked off, the get-to-do task, or reward, becomes available.</p>
  <div class="space-50"></div>
  <p>The iffapp was originally created as a capstone project for the python-based full-stack program at <a href="http://pdxcodeguild.com/" target="_blank">PDX Code Guild</a>. You can judge whether or not the developer deserved to graduate...</p>

</div>
{% endblock content %}
