{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>About IFF</h1>
  <p>IFF is an online "get to do" list rather than a to-do list. You get to do a thing <strong><em>if and only if</em></strong> you complete the task or tasks you need to do.</p>
  <p>Traditional to-do lists are typically comprised of unpleasant tasks or chores that need to be done, with no system of rewards. <a href="http://opim.wharton.upenn.edu/~kmilkman/2013_Mgmt_Sci.pdf" target="_blank">Studies</a> have shown that temptation bundling, or coupling an unpleasant task with a reward, is a more effective way to get things done. IFF allows users to combine pleasant and unpleasant tasks, and use social accountability as a motivating tool.</p>
  <p>The IFF app allows users to create an account, in which they will be able to store multiple "get-to-do" lists. Each list will have one get-to-do task and one or more to-do tasks. As the to-do tasks are checked off, the get-to-do task, or reward, becomes available.</p>
  <div class="space-50"></div>
  <p>The iffapp was originally created as a capstone project for the python-based full-stack program at <a href="http://pdxcodeguild.com/" target="_blank">PDX Code Guild</a>. You can judge whether or not the developer deserved to graduate...</p>
  <div class="space-50"></div>
  <div id="tos"></div>
  <div class="space-200"></div>
  <h1>Terms of Service</h1>
  <h5>A note from the developer:</h5>
  <p>Frankly, it's safe to assume anything you put on the internet may be found and somehow used against you. That doesn't mean security is pointless, and we take every feasible precaution to keep your data safe. But... it is what it is. When in doubt, don't share sensitive information.</p>
  <p>Luckily, this is just a silly little to-do app, so hopefully we'll pass under the radar of the really malicious hackers, trolls, and Russian bots. But you can never be sure, so just be careful, mmkay?</p>
  <h3>Terms and Conditions ("Terms")</h3>

  <p>Last updated: April 05, 2018</p>
  <p><em>Note: This is an abbreviated version of the Terms. A full version of these Terms is available <a href="https://app.termly.io/document/terms-of-use-for-website/ccbcc95a-7b9a-4133-8e80-ee86f7a4f793" target="_blank">here</a>.</em></p>

  <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://iffapp.com website (the "Service") operated by IFF ("us", "we", or "our").</p>
  <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
  <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. This Terms and Conditions agreement  for IFF is powered by TermsFeed.</p>

  <h4>Accounts</h4>

  <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
  <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

  <h4>Links To Other Web Sites</h4>

  <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by IFF.</p>
  <p>IFF has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that IFF shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
  <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

  <h4>Termination</h4>

  <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
  <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
  <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
  <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
  <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

  <h4>Governing Law</h4>

  <p>These Terms shall be governed and construed in accordance with the laws of Oregon, United States, without regard to its conflict of law provisions.</p>
  <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

  <h4>Changes</h4>

  <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
  <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

  <h2>Contact Us</h2>

  <p>If you have any questions about these Terms, please <a href="mailto:hello@iffapp.com">contact us</a>.</p>

</div>
{% endblock content %}
