{% extends "base.html" %}

{% block content %}
<div class="container content">
  {% if request.user.is_authenticated %}
  <!--  if logged in, shortlist of current to-dos -->
    <div class="main-cont">
      <h1>Welcome back, {{user.username}}!</h1>
      {% if user_lists %}
      <ul class="collection with-header">
        <li class="collection-header"><h5>Here are your current ifflists:</h5></li>
        {% for item in user_lists %}
        <a class="collection-item title-word" href="{% url 'users:detail' request.user.username  %}">{{item}}</a>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% else %}
  <!--  if not logged in, universal landing page -->
  <div class="main-cont center-align">
    <h1 class="light-text">I get to <span id="change-text-1" class="underline-span"></span></h1>
    <h1 class="iff">if and only if</h1>
    <h1 class="light-text">I <span id="change-text-2" class="underline-span"></span></h1>
    <a id="blink" class="start-btn register-trigger"  data-target="register-modal" href="#register-modal">Get Started</a>
  </div>
{% endif %}
{% endblock content %}
